
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form (ngSubmit)='submitSearch()' #goalForm='ngForm'>
            <div class="form-group">
                <input type="text" required class="form-control" id="search" placeholder="Enter a username or repository" name="search" #search="ngModel" [(ngModel)]="searchName">

            </div>
            <button type="submit" class="btn btn-success">Find</button>
        </form>
    </div>
</body>
</html>