
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p class="para">Start your search below</p>
        <app-search (searchOutput)="mySearch($event)"></app-search>

        <div *ngFor="let user of users">
            <div class="row users">
                <div class="col-sm-4">
                    <div class="card-img-top">
                        <div *ngIf="user" class="card-img-top">
                            <img src="{{user.avatar_url}}" alt="">
                        </div>
                    </div>
    
                </div>
                <div class="col-sm-8">
                    <div class="user">
                        <div *ngIf="user" class ="name">
                            <h2>Name:<span class="highlight">{{user.login}}</span></h2>
                        </div>
                        <div *ngIf="user">
                            <p>ID: <span>{{user.id}}</span></p>
                            <p>Type: <span>{{user.type}}</span></p>
                            <p>Score: <span>{{user.score}}</span></p>
                            <p><a href="{{user.html_url}}"><button class="btn-outline-success btn btn-sm">Visit Github</button></a></p>
    
                        </div>
                    </div>
    
                    <div *ngFor="let repo of repos">
                        <div appHighlight class="repos">
                            <div *ngIf="repo" >
                                <h2>Name:<span class="highlight">{{repo.name}}</span></h2>
                            </div>
                            <div *ngIf="repo">
                                <p>Description: <span>{{repo.description}}</span></p>
                                <p>Language: <span>{{repo.language}}</span></p>
                                <p>Date Created: <span>{{repo.created_at|dateCount}}</span></p>
                                <p>Stars: <span>{{repo.stargazers_count}}</span></p>
                                <p>Forks: <span>{{repo.forks_count}}</span></p>
                                <p>Visit: <a href="{{repo.html_url}}"><button class="btn-outline-success btn btn-sm">Explore Repo</button></a></p>
            
                            </div>
                        </div>
                    </div>
    
