<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p>Enter repository you wish to search</p>
        
        <app-search (searchOutput)="myRepoSearch($event)"></app-search>

        <div *ngFor="let repo of repos">
            <div appHighlight class="repos">
                <div *ngIf="repo" >
                    <h2>Name:<span class="highlight">{{repo.name}}</span></h2>
                </div>
                <div *ngIf="repo">
                    <p>Description: <span>{{repo.description}}</span></p>
                    <p>Language: <span>{{repo.language}}</span></p>
                    <p>Date Created: <span>{{repo.created_at|dateCount}}</span></p>
                    <p>Stars: <span>{{repo.stargazers_count}}</span></p>
                    <p>Forks: <span>{{repo.forks_count}}</span></p>
                    <p>Visit: <a href="{{repo.html_url}}"><button class="btn-outline-success btn btn-sm">Explore Repo</button></a></p>

                </div>
            </div>
        </div>
    
